
__pycache__/config.cpython-311.pyc
cogs/__pycache__/__init__.cpython-311.pyc
cogs/__pycache__/my_first_cog copy 2.cpython-311.pyc
cogs/__pycache__/my_first_cog copy.cpython-311.pyc
cogs/__pycache__/my_first_cog.cpython-311.pyc
config.py
